@model IEnumerable<SalesWeb.Models.Department>

@{
    ViewData["Title"] = "Departments";
}

<h2>Departments</h2>
<a asp-action="Create">New Department</a>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
            }
    </tbody>
</table>
